<nav class="navbar">
  <div class="container">
    <a href="/" class="logo">आपकी वेबसाइट</a>
    
    <div class="nav-links">
   
      
      <% if (user) { %>
        <a href="/main" class="nav-link <%= currentPage === 'main' ? 'active' : '' %>">मुख्य पेज</a>
        <a href="/logout" class="nav-link">लॉगआउट</a>
        <span class="user-greeting">नमस्ते, <%= user.name %>!</span>
      <% } else { %>
        <a href="/signup" class="nav-link <%= currentPage === 'signup' ? 'active' : '' %>">साइन अप</a>
        <a href="/login" class="nav-link <%= currentPage === 'login' ? 'active' : '' %>">लॉग इन</a>
      <% } %>
    </div>
  </div>
</nav>